/* Colour Scheme */
:root {
    --correct-green: #6ca965;
    --medicore-yellow: #c8b653;
    --incorrect-gray: #787c7f;
}

body {
    font-family: 'Franklin Gothic Medium';
    background-color: pink;
}

h1, h2 {
    text-align: center;
}

#game_grid {
    display: grid;
    width: 25em;
    height: 30em;
    margin-left: auto;
    margin-right: auto;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.square {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    font-size: 2em;
}

#reset_button {
    display: none;
    font-family: 'Franklin Gothic Medium';
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    padding: 10px 15px;
    font-size: 1.5em;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    border: black 1px solid;
}